<h1>Favourites Page</h1>
<p>{{ message }}</p>
<table>
  <button ng:click="addWine()">New Wine</button>
</div>
  <tr ng-repeat="wine in wines">
    <td>{{Wines}}</td><td><a  ng-click="delete(wine)" href="">remove</a></td>
  </tr>
</table>
