<h1>Search Page</h1>
<p>{{ message }}</p>

<p><input type="text" ng-model="searchTerm" ng-keydown="search($event)" autofocus></p>

<table>
   <tr>
       <th>Title</th>
       <th>Price</th>
       <th>image</th>
       <th>Region</th>
       <th>Link</th>
       <th>Action</th>
   </tr>
  <tr ng-repeat="wine in wines">
    <td>{{wine.wines}}</td><td>{{wine.price}}</td><td><img ng-src="{{wine.image}}"><td>{{wine.region}}</td><td>{{wine.link}}</td></td><td><a href="#detail/{{wine.wines}}">view</a></td>
   
  </tr>
</table>
